@tailwind base;

body {
    @apply w-screen;
    @apply h-screen;
}

button {
    @apply bg-yellow-300;
    @apply text-pink-800;
    @apply font-bold;
}

button:hover {
    @apply bg-yellow-400;
}

button:disabled {
    @apply cursor-not-allowed;
    @apply opacity-50;
}

@tailwind components;

#root {
    @apply h-full;
    @apply w-full;
}

.alaskaMapData {
    @apply w-full;
    height: 95%;
}

.card {
    @apply rounded;
    @apply overflow-hidden;
    @apply shadow-lg;
    @apply my-5;
}

.borders {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.body {
    @apply flex;
    @apply w-full;
    height: 90%;
}

.land {
    fill: #ddd;
}

.loader {
    border: 16px solid lightgrey;
    border-top: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.timeRangeSlider {
    @apply w-full;
    height: 5%;
}

.titleBar {
    @apply w-full;
    @apply flex;
    height: 10%;
}

.tooltip {
    text-decoration: none;
    position: absolute;
    display: none;
}

@tailwind utilities;

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
